node_modules/**
package-lock.json
.expo/*
config/firebase-config.js
config/config.js
config/firebase-config.test.js
npm-debug.*
.DS_Store
tmp.js
Dockerfile
.dockerignore
push-api.js
.vscode/settings.json
